.feed-container {
	font-family: 'Noto Sans JP', sans-serif;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 830px;
}

.feed-title {
    margin-left: -40px;
    align-self: flex-start !important;
}

.feed-card {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 6px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.content-wrapper {
    padding: 15px;
}

.feed-name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 3px !important;
}

.feed-date {
    font-size: 15px;
    color: rgba(77, 77, 77, 0.365);
}

.feed-info {
    font-size: 18px;
}

.feed-logo {
    float: right !important;
    max-width: 60px;
	max-height: 60px;
	width: auto;
	height: auto;
}

.tech-container {
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 830px;
}

.carddeck {
    margin-bottom: 10px;
}

.tech-card {
    width: 400px !important;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 6px;

}

.title-wrapper {
    height: 42px;
}