.profile-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.profile-card {
	width: 700px;
	box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 6px;
}

.rounded-circle {
	height: 150px;
	width: 150px;
	float: left;
}

.profile {
	display: flex;
	flex: row;
}

a.penn-link {
	text-decoration: none;
	color: #E5AE40;
	
}

a.penn-link:link {
	background-color: transparent;
}

a.penn-link:hover {
	background-color: rgb(254, 238, 206);
	text-decoration: underline;
	
}

.image-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px;
	padding-left: 15px;
}

.intro {
	margin-left: 30px;
}

.intro .name {
	margin-top: 15px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 800;
}

.intro .desc {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 20px;
	line-height: 1.4;
}
