.project-container {
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 950px;
}

.project-container-mobile {
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.project-title {
    margin-left: -40px;
    align-self: flex-start !important;
}

.project-title-mobile {
    align-self: flex-start !important;
    font-size: 22px;
}

.project-row {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-project {
    height: 370px;
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 6px;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
}

.card-project-mobile {
    height: 330px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 6px;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    margin-top: 8px;
    margin-bottom: 8px;
}

.card-body {
    padding: 20px;
}

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.5rem;
}

.images i{
    color: black;
}

.fab:hover {
    color: rgb(0, 92, 220);
}

.card-info {
    margin-top: 15px;
}

.card-title {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

.card-title-mobile {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 20px;
}

.card-info-mobile {
    font-size: 12px;
}

.card-tech {
    font-family: 'Fira Code', monospace;
    font-weight: 600;
    margin-top: 20px;
}

.card-tech-mobile {
    font-family: 'Fira Code', monospace;
    font-weight: 600;
    font-size: 12px;
    margin-top: 20px;
}

.project-card {
    width: 100%;
    height: 370px;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 6px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-name {
    font-size: 28px;
    font-weight: bold;
}

.project-info {
    font-size: 18px;
}

.tech-used {
    font-weight: bold;
}

.btn-primary {
    border-color: #E5AE40;
    background-color: #E5AE40;
}

.btn-primary:hover {
    border-color: rgb(191, 143, 48);
    background-color: rgb(191, 143, 48);
}