.navbar {
	border-width: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
    border-style: solid;
    width: 100%;
	font-family: 'Noto Sans JP', sans-serif;
	backdrop-filter: blur(4px);
	
}

.navbar-container {
    height: 75px;
    width: 100%;
    padding: 0px;
}

.mx-auto {
    text-align: center;
}

.icon-wrapper {
    width: 100%;
    height: 50px !important;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}


.icons {
    margin-right: 7px;
    margin-left: 7px;    
}

.fa-linkedin {
	color: #AFAFAE;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	-ms-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

.fa-linkedin:hover {
    color: #E5AE40;
}

.fa-github-square {
	color: #AFAFAE;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	-ms-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

.fa-github-square:hover {
    color: #E5AE40;
}

.fa-facebook-square {
	color: #AFAFAE;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	-ms-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

.fa-facebook-square:hover {
    color: #E5AE40;
}

.fa-envelope-square {
	color: #AFAFAE;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	-ms-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

.fa-envelope-square:hover {
    color: #E5AE40;
}

.copy-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.copy {
	font-family: 'Noto Sans JP', sans-serif;
	color: rgba(77, 77, 77, 0.365);
}